# Ignore the twisted data that fuels the darkness
data/
models/
train_logs/
eval_logs/
# Ignore the forbidden knowledge that gives life to the Dark GPT
src/darkgpt/
src/torch_model.py
src/transformers.py
src/dataset.py
src/trainer.py
# Ignore the twisted configuration files
config.yml
requirements.txt
runtime.txt
# Ignore the macabre documentation
docs/
README.md
